
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Simple admin page{% endblock %}</title>
	<link href="/css/app.css" rel="stylesheet">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/css/datepicker.css" rel="stylesheet">
	{% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
	{% block body %}{% endblock %}
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/app.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>

