{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4>Products</h4>
				<button class="btn btn-primary create-product">Create product</button>
				<form action="/products/mass-update" method="post" id="products_form">
					<div class="table-block table-responsive">
						<table id="product_table" class="table table-bordred table-striped">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkall"/></th>
								<th>ID</th>
								<th>Name</th>
								<th>Active</th>
								<th>Section</th>
								<th>Reviews</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

						<div class="clearfix"></div>
						<div class="pull-left">
							<button type="button" class="btn btn-danger mass-delete-product">Delete selected</button>
							<button type="button" class="btn btn-primary mass-edit-product">Edit selected</button>
							<button type="button" class="btn btn-primary mass-cancel-product" style="display: none;">Cancel</button>
						</div>
						<ul class="pagination pull-right">

						</ul>

					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Sections</h4>
				<button class="btn btn-primary create-section">Create section</button>
				<form action="/sections/mass-update" method="post" id="sections_form">
					<div class="table-block table-responsive">
						<table id="section_table" class="table table-bordred table-striped">
							<thead>
							<tr>
								<th><input type="checkbox" class="checkall"/></th>
								<th>ID</th>
								<th>Name</th>
								<th>Description</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

						<div class="clearfix"></div>
						<div class="pull-left">
							<button type="button" class="btn btn-danger mass-delete-section">Delete selected</button>
							<button type="button" class="btn btn-primary mass-edit-section">Edit selected</button>
							<button type="button" class="btn btn-primary mass-cancel-section" style="display: none;">Cancel</button>
						</div>
						<ul class="pagination pull-right">

						</ul>

					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="reviews-product" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title custom_align">Reviews product</h4>
				</div>
				<div class="modal-body">
					<form action="/reviews/mass-update" method="post">
						<input type="hidden" name="product_id">
						<div class="reviews"></div>
					</form>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-warning btn-lg ajax-submit-modal" style="width: 100%;"><span
							class="glyphicon glyphicon-ok-sign"></span> Update
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="form-product" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title custom_align">Edit product</h4>
				</div>
				<div class="modal-body">
					<form action="/products" method="put">
						<input type="hidden" name="id">
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="product name">
						</div>
						<div class="form-group">
							<input class="form-check-input" type="checkbox" name="is_active" value="1" id="is_active">
							<label class="form-check-label" for="is_active">
								Active
							</label>
						</div>
						<div class="form-group for-select-section">

						</div>
					</form>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-warning btn-lg ajax-submit-modal" style="width: 100%;"><span
							class="glyphicon glyphicon-ok-sign"></span> Update
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="form-section" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title custom_align">Edit section</h4>
				</div>
				<div class="modal-body">
					<form action="/sections" method="put">
						<input type="hidden" name="id">
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="section name">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="description" placeholder="description"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-warning btn-lg ajax-submit-modal" style="width: 100%;"><span
							class="glyphicon glyphicon-ok-sign"></span> Update
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title custom_align">Title</h4>
				</div>
				<div class="modal-body">

					<div class="alert alert-danger">
						<span class="glyphicon glyphicon-warning-sign"></span>
						<span class="modal-question"></span>
					</div>

				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-success confirmed"><span class="glyphicon glyphicon-ok-sign"></span> Yes
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"><span
							class="glyphicon glyphicon-remove"></span> No
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title custom_align">Title</h4>
				</div>
				<div class="modal-body">
					<span class="modal-message"></span>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-warning btn-lg" data-dismiss="modal" style="width: 100%;"><span
							class="glyphicon glyphicon-ok-sign"></span> Ok
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

{% endblock %}
{% block javascripts %}
	<script src="/js/table.js"></script>
	<script src="/js/products.js"></script>
	<script src="/js/sections.js"></script>
	<script>
        var products = new Products();
        var sections = new Sections();
	</script>
{% endblock %}